body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* to ensure the navbar is always on top */
}
